{% extends 'index.html' %}
<title>
    {% block title %} Contact me {% endblock %}
</title>

{% block content %}
<body>
    <h1 style="padding-top: 5rem;"><u>Contact Me</u></h1>
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col">
                <h4 style="padding-right: 2rem;"><i class="fas fa-map-marker-alt"></i>&nbsp; Kollam, Kerala</h4>
                <h4 style="padding-right: 3rem;"><i class="fas fa-mobile-alt"></i>&nbsp; 9809227436</h4>
                <h4 style="padding-left: 5rem;"><i class="fas fa-envelope"></i>&nbsp; amj.amaljoy@gmail.com</h4>
                <h4 style="padding-left: 100px"><i class="fab fa-linkedin"></i>&nbsp; <a href="https://www.linkedin.com/in/amaljoy03/">linkedin.com/in/amaljoy03</a></h4>
            </div>
        </div>
    </div>
</body>
<div style="padding-top: 12.7rem;"></div>


{% endblock %}