{% extends 'index.html' %}
<title>
  {% block title %} My projects {% endblock %}
</title>
<body style="margin-bottom: 60px;">

{% block content %}
  <h1><u>MY PROJECTS</u></h1>
  <br><br>
  <h2 style="text-align: left; padding-left: 10px;">1. E-commerce Website</h2>
  <h4 style="text-align: left; padding-left: 4rem;">The platform and framework used is Python and Django</h4>
  <h4 style="text-align: left; padding-left: 4rem;">The website is a shopping website for various
    categories of products. User can login, search products and
    add products to the cart.</h4>
  <h6 style="text-align: left; padding-left: 4rem;">Click below button to view the website</h6>
  <button id="btn_project" onclick="window.location.href='https://amaljoy03.pythonanywhere.com/'">E-com</button>
  <br><br>

  <h2 style="text-align: left; padding-left: 10px;">2. Restaurant Website</h2>
  <h4 style="text-align: left; padding-left: 4rem;">The platform and framework used is Python and Django</h4>
  <h4 style="text-align: left; padding-left: 4rem;">The website is for restaurants to showcase their
    Menu to the customers and make prior reservations.</h4>
  <h6 style="text-align: left; padding-left: 4rem;">Click below button to view the website</h6>
  <button id="btn_project" onclick="window.location.href='http://amaljoy01.pythonanywhere.com/'">Savory</button>
  <br><br>

  <h2 style="text-align: left; padding-left: 10px;">3. Used Car Website</h2>
  <h4 style="text-align: left; padding-left: 4rem;">The platform and framework used is Python and Django</h4>
  <h4 style="text-align: left; padding-left: 4rem;">The website is for used car dealers to display their
    available cars with vehicle details. The customers can view the car description and book test drives.</h4>
  <h6 style="text-align: left; padding-left: 4rem;">Click below button to view the website</h6>
  <button id="btn_project" onclick="window.location.href='http://amaljoy05.pythonanywhere.com'">Cars</button>
  <br><br>

  <h2 style="text-align: left; padding-left: 10px;">4. Movie Website</h2>
  <h4 style="text-align: left; padding-left: 4rem;">The platform and framework used is Python and Django</h4>
  <h4 style="text-align: left; padding-left: 4rem;">The website contains movie lists with details.
    Movies can be added, edited and deleted.</h4>
  <h6 style="text-align: left; padding-left: 4rem;">Click below button to view the website</h6>
  <button id="btn_project" onclick="window.location.href='http://amjamal.pythonanywhere.com/'">Movies</button>
  <br><br>

  <h2 style="text-align: left; padding-left: 10px;">5. ToDo Application</h2>
  <h4 style="text-align: left; padding-left: 4rem;">The platform and framework used is Python and Django</h4>
  <h4 style="text-align: left; padding-left: 4rem;">The ToDo application is used for adding tasks with
    priority and date. The tasks can me marked as completed or be
    edited.</h4>
  <h6 style="text-align: left; padding-left: 4rem;">Click below button to view the website</h6>
  <button id="btn_project" onclick="window.location.href='http://amaljoy04.pythonanywhere.com/'">ToDo</button>

  <br><br>
  <h2 style="text-align: left; padding-left: 10px;">6. Travel Website</h2>
  <h4 style="text-align: left; padding-left: 4rem;">The platform and framework used is Python and Django</h4>
  <h4 style="text-align: left; padding-left: 4rem;">The website is for travel agents to add
    destinations or places with location and other details.</h4>
  <h6 style="text-align: left; padding-left: 4rem;">Click below button to view the website</h6>
  <button id="btn_project" onclick="window.location.href='http://amaljoy02.pythonanywhere.com/'">Travello</button>
  <br><br>

{% endblock %}
</body>